@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #42b883;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.view {
  padding: 32px;
  background-color: var(--vt-c-indigo);
  border-radius: 16px;
  text-align: center;
}

h4 {
  font-size: 18px;;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}
